@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap");

:root {
  --darkblue: hsl(220, 13%, 13%);
  --darkgrayishblue: hsl(219, 9%, 45%);
  --grayishblue: hsl(220, 14%, 75%);
  --lightgrayishblue: hsl(223, 64%, 98%);
  --orange: hsl(26, 100%, 55%);
  --paleorange: hsl(25, 100%, 94%);
}

* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-size: 16px;
  margin: 0 auto;
}

/* header */

header {
  display: flex;
  width: 77%;
  border-bottom: 1px solid #e4e9f2;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 28px 0 34px;
}

.headleft {
  display: flex;
  font-size: 0.94em;
}

.logo {
  margin-right: 56px;
  height: 20px;
}

.headleft a {
  text-decoration: none;
  color: var(--darkgrayishblue);
  margin-right: 1.88em;
  position: relative;
  letter-spacing: 0.15px;
  transition: 0.2s;
}

.headleft a:hover {
  color: black;
}

.headleft a::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 66px;
  left: 0;
  transform-origin: center;
}

.headleft a:hover::after {
  border-bottom: 4px solid var(--orange);
}

.headright {
  display: flex;
  align-items: center;
}

.headright .cart {
  margin-right: 45px;
  cursor: pointer;
}

.headright .cart:hover {
  filter: brightness(0);
}

.avatar {
  width: 50px;
  cursor: pointer;
}

.avatar:hover {
  outline: 2px solid var(--orange);
  border-radius: 50%;
}

.menu {
  display: none;
}

/* main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 124px;
  flex-wrap: wrap;
  margin-top: 90px;
}

.product {
  max-width: 445px;
}

.previous,
.next {
  display: none;
}

.principal {
  width: 445px;
  border-radius: 15px;
}

.thumbnails {
  display: flex;
  justify-content: space-between;
}

.thumbnails img {
  width: 88px;
  margin-top: 28px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.thumbnails img:hover {
  opacity: 0.5;
}

.selectedthumbnail {
  opacity: 0.2;
  position: relative;
  top: -28px;
}

.thmborder {
  margin-top: 28px;
  height: 88px;
  outline: 2px solid var(--orange);
  border-radius: 10px;
}

.description {
  max-width: 445px;
  padding-left: 1px;
  margin-bottom: 19px;
}

h3 {
  color: var(--orange);
  text-transform: uppercase;
  font-size: 0.82em;
  letter-spacing: 0.12em;
}

h1 {
  font-size: 2.75em;
  margin: 19px 0 34px;
  line-height: 1.1em;
}

.description > p {
  color: var(--darkgrayishblue);
  line-height: 1.65em;
  margin-bottom: 24px;
}

.discount {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.price {
  font-size: 1.75em;
  font-weight: 700;
  margin-right: 18px;
  letter-spacing: 0.03em;
}

.percent {
  background-color: var(--paleorange);
  color: var(--orange);
  font-weight: 700;
  padding: 4px 9px;
  border-radius: 5px;
}

.fullprice {
  color: var(--grayishblue);
  font-weight: 700;
  text-decoration: line-through;
  margin-bottom: 37px;
}

.tobuy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quantity {
  background-color: var(--lightgrayishblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 10px;
  width: 157px;
  height: 56px;
}

.quantity > p {
  font-weight: 700;
  width: 25px;
  text-align: center;
}

.quantity img {
  transition: 0.3s;
  cursor: pointer;
}

.quantity img:hover {
  opacity: 0.4;
}

.tobuy button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  width: 271px;
  height: 56px;
  background-color: var(--orange);
  color: white;
  font-weight: 700;
  font-size: 0.94em;
  letter-spacing: 0.04em;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 25px 20px var(--paleorange);
}

.tobuy button img {
  width: 17px;
  margin-right: 15px;
  filter: brightness(4);
}

button:hover {
  opacity: 0.5;
}

.attribution {
  font-size: 0.7em;
  text-align: center;
  margin: 40px 0 10px;
}

.attribution a {
  color: hsl(228, 27%, 35%);
}

@media (max-width: 970px) {
  header {
    width: 88%;
    border: none;
    padding: 20px 0;
  }

  .avatar {
    width: 25px;
  }

  .logo {
    margin: 0 15px 0;
  }

  nav {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .menu-icon,
  .close-menu {
    width: 17px;
    height: 16px;
    margin-top: 4px;
    transition: opacity 0.3s ease-in-out;
  }

  #close-icon {
    display: none;
  }

  main {
    margin: 0;
    gap: 30px;
    flex-direction: column;
  }

  .product {
    margin: 40px 0;
  }
}

@media (max-width: 600px) {
  .product {
    max-width: 100vw;
    margin: 0;
  }

  .principal {
    width: 100vw;
    border-radius: 0;
  }

  .previous,
  .next {
    display: block;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px 13px;
    cursor: pointer;
  }

  .previous:hover,
  .next:hover {
    filter: opacity(0.4);
  }

  .thumbnails {
    display: none;
  }

  .description {
    max-width: 340px;
  }

  .description > p {
    font-size: 0.94em;
  }

  h1 {
    font-size: 1.75em;
    margin-bottom: 20px;
  }

  .tobuy {
    flex-direction: column;
    gap: 15px;
  }

  .quantity {
    width: 340px;
  }

  .tobuy button {
    width: 340px;
  }

  .prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .fullprice {
    margin-bottom: 10px;
  }
}
